*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
  padding: 18px;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}
.container li{
  list-style: none;
  display: inline;
}
.container li a{
  text-decoration: none;
  padding: 14px 20px;
  font-size: 16px;
  color: #f2f2f2;
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
  transition: all .5s ease-in;
}
.container li a:hover{
  background-color: crimson;
}
